.markdown-source-view.mod-cm6 .hzb-inline-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity .12s ease;
  cursor: pointer;
  font-size: 1em;
  margin-left: 6px;
  padding: 0 4px;
  border-radius: 4px;
  user-select: none;
  color: #ababab;
}

.markdown-source-view.mod-cm6 .cm-line:hover .hzb-inline-btn,
.markdown-source-view.mod-cm6 .cm-activeLine .hzb-inline-btn {
  opacity: 1;
  pointer-events: auto;
}

.markdown-source-view.mod-cm6 .cm-line:not(.HyperMD-header) .hzb-inline-btn {
  display: none;
}
